
body{
  background-color: #DCDCDC;
}

.wrapper{
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

.img_button img{
  display: block;
}

.img_button:hover{
  opacity: 0.8;
}

.content{
  display: none;
  padding: 30px;
}